<% if params[:action] == 'search' %> 
<%# search is coming from users controller || Flash is only here for errors %>
  <div class = 'results-block'>
<% # result is from lookup.html.erb in div id results %>
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @users %>
  <% if @users.size > 0 # this is needed because once there is a search string, it creates the box table%>
    <div id = "friend-lookup-results" class = "well results-block col-md-10">
      <table class = "search-results-table col-md-12">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><strong>Name: </strong> <%= user.full_name %></td>
              <td><strong>Email: </strong><%= user.email %></td>
              <td><strong>Profile: </strong><%= link_to "View Profile", "#", class: "btn btn-xs btn-success"%> 
                <% if current_user.not_friends_with?(user.id) %>
                <%= link_to "Add Friend", add_friend_path(user: current_user, friend: user), class: "btn btn-xs btn-success", method: :post %>
                <% else %>
                <span class = "label label-primary">
                  You are already friends
                </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
 <% end %>
<% end %>