<% if params[:action] == 'search' %> 
<%# search is coming from stocks controller || This is only here for errors%>
  <div class = 'results-block'>
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @stock # this is needed in case they don't enter a stock @stock won't exist %>
<div class = 'well results-block'>
  <strong>Symbol: </strong><%= @stock.ticker %>
  <strong>Company Name:</strong><%= @stock.name %>
  <strong>Price: $</strong><%= @stock.last_price %>
  <%= link_to "Add to my stocks", user_stocks_path(user: current_user, stock_ticker: @stock.ticker), #params are user and stock_ticker
              class: 'btn btn-xs btn-success', method: :post %>
</div>
<% end %>